<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <style>
        html{
           background: url('static/pexels-fauxels-3183197.jpg') rgba(0, 0, 0, 0.61);
            background-repeat: no-repeat;
            background-size: cover;
            background-blend-mode: darken;
            position: relative;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            z-index: -1;
            min-height: 500px;
            color: white;
            padding-top: 25vh;
        }
    </style>
</head>
<body>
    <center>
    <h1>Welcome Anjana</h1>
</center>
<h2>Employee Details</h2>
    <h3>
        Fullname:<span id="result-name">{{w}}</span>
    </h3>
    <h3>
        UID:<span id="result-uid">{{x}}</span>
    </h3>
    <h3>
        Company:<span id="result-cname">{{y}}</span>
    </h3>
    <h3>
        Email:<span id="result-cmail">{{z}}</span>
    </h3>
    <h3>
        password1:<span id="result-password">{{za}}</span>
    </h3>

</body>
</html>